---

---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>itsCoder</title>
  <link rel="stylesheet" href="css/home.css">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>

{% include nheader.html %}

<div>
  <center>
    <img class="logo" src="img/itscoder.svg">
  </center>
</div>
<div class="main">
  {% for post in paginator.posts %}
  <div class="post-container">
    <a href="{{post.url}}">
      <div class="post">
        <img src="img/{{post.featimg}}" alt>
        <div class="post-date">
          <span>{{ post.date | date: '%m/%d, %Y' }}</span>
        </div>
        <div class="post-title">{{ post.title }}</div>
        <div class="post-excerpt">
          {{ post.excerpt }}
        </div>
      </div>
    </a>
  </div>

  {% endfor %}
</div>

</body>

</html>