
<svg width="480px" height="160px" viewBox="16 159 480 160" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <text id="itsCoder" stroke="none" fill="none" font-family="DINAlternate-Bold, DIN Alternate" font-size="128" font-weight="bold">
        <tspan x="27.7636719" y="279" fill="#2196F3">i</tspan>
        <tspan x="58.4511719" y="279" fill="#FABD2C">t</tspan>
        <tspan x="94.0136719" y="279" fill="#34A853">s</tspan>
        <tspan x="155.451172" y="279" font-size="152" fill="#2196F3">C</tspan>
        <tspan x="239.986328" y="279" fill="#F44336">o</tspan>
        <tspan x="303.986328" y="279" fill="#607D8B">d</tspan>
        <tspan x="370.423828" y="279" fill="#FABD2C">e</tspan>
        <tspan x="434.423828" y="279" fill="#34A853">r</tspan>
    </text>
</svg>