<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../assets/css/header.css">
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<div class="header">
  {% if page.url != "/" %}
  <a href="/">
    <div class="home">
      <img src="/img/itscoder.svg">
    </div>
  </a>
  {% endif %}

  <div class="nav-div">

    {% if site.rss %}
    <a href="{{ site.rss }}" class="nav"><i class="fa fa-rss fa-2x"></i></a>
    {% endif %}

    {% if site.github %}
    <a href="{{ site.github }}" class="nav"><i class="fa fa-github fa-2x"></i></a>
    {% endif %}

    {% if site.members %}
    <a href="{{ site.members }}" class="nav"><i class="fa fa-user fa-2x"></i></a>
    {% endif %}

  </div>


</div>

</body>
</html>