<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>

<body class="index">
<header class="head">
    {% include header.html %}
    {% include nav.html %}
</header>
{% include search.html %}
<div class="margin">
    <div class="content">
        {% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %}
        <div class="articles">
            {{ content }}
        </div>
    </div>
</div>
{% include footer.html %}
{% if site.infinite_scroll == true %}
<script src="{{ site.baseurl | replace: '//', '/' }}/js/build/infinite.min.js"></script>
{% endif %}
<div class="cnzz">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1260143323'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260143323%26online%3D2' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>


</html>
